#navbar {
  background-color: black; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  border-bottom: 0.5px dotted cyan;
}

/* Style the navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  /* padding-bottom: 5px; */
  height: 28px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: lighter;
}

#navbar a img {
 width: 20px;
 height: 20px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

body {
  margin: 0;
  /* margin-bottom: -25px; */
  /* padding-bottom: -25px; */
  /* background-color: rgb(20, 20, 20); */
  font-family: 'Gill Sans';
  font-weight: 600;
  /* padding:15px 15px 2500px; */
  /* font-size:30px; */
  /* margin-bottom:-50px; */
}

canvas {
  margin-top: -5px;
  margin-bottom: -5px;
}

#headerPhoto {
  width: auto;
  height: auto;
  position: relative;
  text-align: center;
}

#headerPhoto img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* object-position: 50% 0; */
  /* filter: brightness(90%); */
}

#headerPhoto h1 {
  font-size: 28px;
  color: white;
  background-color: black;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
}

#intro {
  color: black;
  background-color: #f1f1f1;
  right:50%;
  left:50%;
  /* transform: translate(-50%, -50%); */

}


.flex-container {
  display: flex;
  /* background-color: dodgerblue; */
  /* margin: 30px; */
  justify-content: center;
}

.flex-container > div {
  /* margin: 10px; */
  padding: 20px;
}

.flex-container #introText {
  font-size: 12px;

}

.flex-container #subHeader {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight:lighter;
  font-size: 12px;
  border-bottom: 0.5px dotted cyan;
  margin-bottom: 7px;
}

#futuristicIndividualityTitle {
  /* width: auto; */
  height:300px;
  background-color: rgb(5,5,5);
  color: white;
  margin-top: -40px;
  margin-right: 0px;
  width: 100%; /* Full width */
  align-content:center;
}

#FIcontainer {
  align-self: center;
  vertical-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

#futuristicIndividualityTitle h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight:lighter;
  font-size: 12px;
  border-bottom: 0.5px dotted black;
  margin-bottom: 7px;
}

#futuristicIndividualityTitle p {
  font-size: 12px;
    font-weight:lighter;
}


#empathyTitle {
  /* width: auto; */
  height:300px;
  background-color: rgb(5,5,5);
  color: white;
  margin-top: -40px;
  margin-right: 0px;
  width: 100%; /* Full width */
  align-content:center;
}

#EMPcontainer {
  align-self: center;
  vertical-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

#empathyTitle h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight:lighter;
  font-size: 12px;
  border-bottom: 0.5px dotted black;
  margin-bottom: 7px;
}

#empathyTitle p {
  font-size: 12px;
    font-weight:lighter;
}
